.App {
  text-align: center;
}

.row{
  justify-content: center;
  margin: 1rem 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: blue;
}

.four-day-forecast-container{
  display: flex;
  flex-direction: row;
}

.citySelector{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
}

.selector-btn{
  background-color:darkgreen;
}

.selector-btn:hover{
  background-color:green;
}

.weatherList{
  min-height: 100vh;
  height: max-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

