.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.row{
  justify-content: center;
  margin: 1rem 0;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: blue;
}

.App-link {
  color: #61dafb;
}

.four-day-forecast-container{
  display: flex;
  flex-direction: row;
}

.section-2{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

